@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Koh+Santepheap:wght@900&display=swap");
@font-face {
  font-family: "KyivType Sans Bold";
  src: url("./assets/Dmitry-Rastvortsev-KyivType/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Bold-.otf");
}
@font-face {
  font-family: "KyivType Sans Heavy";
  src: url("./assets/Dmitry-Rastvortsev-KyivType/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Heavy-.otf");
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #f4f4f6;
  background-color: #535050;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  font-family: "Inter", sans-serif;
  margin: 0;
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
